---
import Layout from "../layouts/Layout.astro";
import Header from "../components/home/Header.astro";
import LinkSection from "../components/home/LinkSection.astro";

import collectionDataArray from "../services/homeServices";


let [ personalLinks, profesionalLinks, user ] = await Promise.all(collectionDataArray);

---

<Layout title="Eduardo Duarte" description="s" image="s">
  <main class="container mx-auto text-white">
    <Header user={user?.items[0]?.fields} />
    <LinkSection title="Personal Links" dataLinks={personalLinks} />
    <LinkSection title="Profesional Links" dataLinks={profesionalLinks} />
  </main>
</Layout>
